# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://nrjpzicfgkvncatismki.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_OR_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5yanB6aWNmZ2t2bmNhdGlzbWtpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg0ODU1NTQsImV4cCI6MjA3NDA2MTU1NH0.4NZs2eXfQHw36FleGSUcZOaDBYTFWauxc_PHONmNxDo
