@use "base/base";

// components
@use "components/nav-menu";
@use "components/profile-nav";
@use "components/theme-toggle";
@use "components/language-switcher";
@use "components/hero-banner";
@use "components/featured-products";
@use "components/buttons";
@use "components/product-categories";
@use "components/product-card";
@use "components/value-props-bar";
@use "components/about";
@use "components/footer";
@use "components/news-letter";

// pages
@use "pages/products";
@use "pages/wishlist";
@use "pages/product-detail";